.DS_Store
Thumbs.db
main-page-preview.png
main-page-mobile-preview.png
concepts-preview.png
concept-detail-preview.png
concept-detail-lesson3-preview.png
main-header-preview.png
past-exams-preview.png
workbooks-preview.png
global-preview.png
mobile-*-preview*.png
